  /*
    Flaticon icon font: Flaticon
    Creation date: 08/09/2018 00:19
    */

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-flasks:before { content: "\f100"; }
.flaticon-research:before { content: "\f101"; }
.flaticon-book:before { content: "\f102"; }
.flaticon-cloud-computing:before { content: "\f103"; }
.flaticon-web-programming:before { content: "\f104"; }
.flaticon-software:before { content: "\f105"; }
.flaticon-feed:before { content: "\f106"; }
.flaticon-person:before { content: "\f107"; }
.flaticon-puzzle:before { content: "\f108"; }
.flaticon-clock:before { content: "\f109"; }
.flaticon-setting:before { content: "\f10a"; }
.flaticon-notification:before { content: "\f10b"; }
.flaticon-location-pin:before { content: "\f10c"; }
.flaticon-lifebuoy:before { content: "\f10d"; }
.flaticon-language:before { content: "\f10e"; }
.flaticon-report:before { content: "\f10f"; }
.flaticon-start:before { content: "\f110"; }
.flaticon-quality-badge:before { content: "\f111"; }
.flaticon-value:before { content: "\f112"; }
.flaticon-megaphone:before { content: "\f113"; }
.flaticon-promotion:before { content: "\f114"; }
.flaticon-gift:before { content: "\f115"; }
.flaticon-movie-tickets:before { content: "\f116"; }
.flaticon-ticket:before { content: "\f117"; }
.flaticon-speech-bubble:before { content: "\f118"; }
.flaticon-conversation:before { content: "\f119"; }
.flaticon-email:before { content: "\f11a"; }
.flaticon-message:before { content: "\f11b"; }
.flaticon-scroll:before { content: "\f11c"; }
.flaticon-scroll-1:before { content: "\f11d"; }
.flaticon-pointer-crosstree:before { content: "\f11e"; }
.flaticon-drag-flick:before { content: "\f11f"; }
.flaticon-scroll-2:before { content: "\f120"; }
.flaticon-startup:before { content: "\f121"; }
.flaticon-new-product:before { content: "\f122"; }