$mainColor: #623bcc;

html,
body {
  height: 100%;
}
html {
	font-size: 10px;	
	color: #202020;
	background-color: #000;
}
body {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
}
.page {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	.content {
		flex: 1 0 auto;
	}
	.footer {
		flex: 0 0 auto;
	}
}


h1 {
	font-size: 5rem;
    font-weight: 600;
    margin-bottom: 25px;
    color: #fff;
}
h2 {
	color: $mainColor;
	font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size:1.8rem;
}
.header__h2 {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 28px;
	color: #000000;
}







@media (max-width: 981.98px) {
	html {
		font-size: 9px;
	}
}



.line {
	height: 2px;
	display: flex;
	justify-content: center;
	.line__first {
		background: #623bcc;
		width: 40px;
		height: 100%;
		display: flex;
	}
	.line__second {
		background: #232323;
		margin-left: 5px;
		height: 100%;
		display: flex;
		width: 5px;
	}
}


li {
	font-size: 1.8rem;
	font-weight: 400;
}