.btn {
	font-size: 1.8rem;
	line-height: 21px;
	&:hover {

	}
	&.btn_header {
		color: $mainColor;
		background: none;
		padding: 9px 15px;
		border: 2px solid $mainColor;
		transition: color 1s;
		&:hover {
			color: #000;
			transition: color 1s;
		}
	}
	&.btn_city {
		font-size: 2rem;
		line-height: 23px;
		border-bottom: 1px dashed $mainColor;
		padding: 1px 0 4px 0;
		color: $mainColor;
	}
	&.btn_welcome {
		border: 2px solid #fff;
		background-color: #fff;
		border-radius: 100px;
		padding: 12px 40px;
		color: #232323;
		transition: all 0.5s;
		&:hover {
			background: none;
			transition: all 0.5s;
			color: #fff;
		}
	}
	&.btn_rate {
		border: 2px solid #232323;
		padding: 12px 0;
		width: 100%;
		text-align: center;
		border-radius: 100px;
		transition: all 0.5s;
		border: none;
		color: #fff;
		background: $mainColor;
		&:hover {
			background: $mainColor;
			color: #fff;
			transition: all 0.5s;
		}
		@media (max-width: 992px) {
			width: auto;
			padding: 10px 15px;
		}
	}
}