.modal-content {
	
	
}
.city_check {
	background-color: #1D2024;
	position: fixed;
	width: 100%;
	top: 0%; right: 100%; left: 110%;
	transition: all 0.5s;
	z-index: 10;	
	overflow-y: auto;
	.city_check__header {
		display: block;
		font-weight: 500;
		font-size: 3.6rem;
		line-height: 42px;
		text-transform: uppercase;
		color: #FFFFFF;
	}
	.city_check__item {
		display: inline-block;
		font-size: 1.6rem;
		line-height: 19px;
		color: #FFFFFF;
		border-bottom: 1px dashed #FFFFFF;
	}
	.city_check_wrap {
		@media (max-width: 981.98px) {
		}
	}
	.city_check_hid {
		@media (max-width: 981.98px) {
			height: 400px;
			overflow-y: auto;
		}
	}
}
.city_check.active {
	transition: all 0.5s;
	left: 0;
}