.footer {
	background-color: #fff;
	padding: 3rem 0 0 0;
	p {
		line-height: 26px;
		text-transform: none;
		font-weight: 400;
		font-size: 1.4rem;
		padding-top: 3rem;
	}
	.footer__nav {
		color: #666666;
		font-size: 1.5rem;
		font-weight: 500;
		margin-bottom: 1rem;
		&:hover {
			color: $mainColor;
		}
	}
	.footer__header {
		display: block;
		font-family: "Poppins",sans-serif;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 1.4rem;
		color: #666;
	}
	span, .footer_link {
		font-size: 1.4rem;
		color: #666;
	}
	.social {
		a {
			border: 1px solid #f4f4f4;
			color: #623bcc;
			display: inline-block;
			height: 40px;
			line-height: 40px;
			margin-right: 10px;
			text-align: center;
			width: 40px;
			cursor: pointer;
			&:hover {
				color: $mainColor;
			}
		}
	}
	.footer__description {
		background-color: #fff;
		border-top: 1px solid #f4f4f4;

	}
	.footer__footer {
		background-color: $mainColor;
		padding: 5rem 0;
	}
}