doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic" rel="stylesheet")
		link(rel="stylesheet" href="css/main.min.css")
		title New project
	body
		div(class="page")
			header(class="py-3")
				div(class="container")
					div(class="row")
						div(class="col-12")
							nav(class="navbar navbar-expand-lg navbar-light d-flex justify-content-between p-0 ")
								button(class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="toggle navigation")
									img(class="lazyload" data-src="img/mobilemenu.svg" alt="logo")
								div(class="d-flex align-items-end navbar_wrap_logo")
									a(class="navbar-brand d-flex " href="#")
										img(class="lazyload" data-src="img/logo.svg" alt="logo")
										div(class="navbar_wrap_logo_description ml-3 pl-4 d-none d-lg-flex justify-content-center align-items-center")
											| Официальный<br>партнер
								div(class="collapse navbar-collapse " id="navbar")
									ul(class="navbar-nav d-flex justify-content-center w-100 pt-4 pt-lg-0")
										li(class="d-flex justify-content-center active nav-item mr-3")
											a(class="nav-link" href="#")
												| Интернет
										li(class="d-flex justify-content-center nav-item mr-3")
											a(class="nav-link" href="#")
												| Телевидение
										li(class="d-flex justify-content-center nav-item mr-3")
											a(class="nav-link" href="#")
												| Пакеты
										li(class="d-flex justify-content-center nav-item")
											a(class="nav-link" href="#")
												| Телефон
								button(class="btn btn_city mx-0 mx-lg-5")
									| Челябинск
								div(class="d-none d-lg-flex align-items-end flex-column")
									a(class="number_link" href="tel:+73472001222")
										| +7 347 200-12-22
									button(class="btn btn_header mt-3")
										| Оставить заявку
								

			div(class="content")
				div(class="welcome")
					div(class="waves")
						img(class="lazyload w-100" data-src="img/waves-bg.png" alt="waves")
					div(class="welcome__bg")
						div
					div(class="container welcome__content")
						div(class="row h-100 align-items-center")
							div(class="col-12 col-lg-6")
								h1
									| Тариф "МЕТЕОР"
								p
									| Данный тарифный план действует в городах:<br>Уфа, Стерлитамак, Салават, Ишимбай, Октябрьский, Нефтекамск.
								button(class="btn btn_welcome")
									| подключить
							div(class="col-lg-6 d-none d-lg-block")
								div(id="carouselWelcome" class="carousel slide" data-ride="carousel")
									ol(class="carousel-indicators")
										li(data-target="#carouselWelcome" data-slide-to="0" class="active")
										li(data-target="#carouselWelcome" data-slide-to="1")
									div(class="carousel-inner")
										div(class="carousel-item active")
											img(src="img/int02.png" class="img-fluid" alt="img")
										div(class="carousel-item")
											img(src="img/int03.png" class="img-fluid" alt="img")
				div(class="services py-5")
					div(class="container")
						div(class="row justify-content-center text-center")
							div(class="col-12 col-lg-8 py-5")
								h2(class="pb-4")
									| УСЛУГИ
								p
									| Подключение интернета, телевидения и телефонии в квартиры и частный сектор
								div(class="line")
									span(class="line__first")
									span(class="line__second")
						div(class="row py-5")
							div(class="col-12 col-lg-4 pb-4 pb-lg-0")
								div(class="services__item p-5")
									div(class="services__item_number")
										span(class="")
											| 01
										i(class="fas fa-network-wired")
									span(class="d-block services__item_header pt-3")
										| Интернет
									span(class="d-block services__item_description py-4")
										| Информация о подключении интернета
									a(href="#")
										| подробнее
							div(class="col-12 col-lg-4 pb-4 pb-lg-0")
								div(class="services__item p-5")
									div(class="services__item_number")
										span(class="")
											| 02
										i(class="fas fa-tv")
									span(class="d-block services__item_header pt-3")
										| Телевидение
									span(class="d-block services__item_description py-4")
										| Информация о подключении телевидения подробнее
									a(href="#")
										| подробнее
							div(class="col-12 col-lg-4 pb-4 pb-lg-0")
								div(class="services__item p-5")
									div(class="services__item_number")
										span(class="")
											| 03
										i(class="fas fa-cubes")
									span(class="d-block services__item_header pt-3")
										| Интернет+ТВ
									span(class="d-block services__item_description py-4")
										| Информация о комплексном предложении
									a(href="#")
										| подробнее
					div(class="rellax parallax-item" data-rellax-speed="10")
						span(class="parallax-rectangle-shadow")
					div(class="rellax parallax-item" data-rellax-speed="3")
						span(class="parallax-circle-shadow")
					div(class="rellax parallax-item" data-rellax-speed="4")
						span(class="parallax-shape-circle")
					div(class="rellax parallax-item" data-rellax-speed="-20")
						span(class="parallax-shape-rectangle")
				div(class="howConnect")
					div(class="container")
						div(class="row justify-content-center text-center")
							div(class="col-8 py-5 ")
								h2(class="pb-4")
									| КАК ПОДКЛЮЧИТЬСЯ
								p(class="howConnect__header")
									| Процесс подключения
								div(class="line")
									span(class="line__first")
									span(class="line__second")
						div(class="row")
							div(class="col-12 col-lg-3 text-center")
								div
									img(class="lazyload img-fluid" data-src="img/icon601.png" alt="img")
									p(class="howConnect__description")
										| Вы оставляете заявку на сайте
							div(class="col-12 col-lg-3 text-center")
								div
									img(class="lazyload img-fluid" data-src="img/icon602.png" alt="img")
									p(class="howConnect__description")
										| В течение часа с Вами связывается оператор для выбора удобного времени визита.
							div(class="col-12 col-lg-3 text-center")
								div
									img(class="lazyload img-fluid" data-src="img/icon603.png" alt="img")
									p(class="howConnect__description")
										| Техник проведет кабель, подключит оборудование, заключит договор. Обычно это занимает около часа. Подключение бесплатно.*
							div(class="col-12 col-lg-3 text-center")
								div
									img(class="lazyload img-fluid" data-src="img/icon604.png" alt="img")
									p(class="howConnect__description")
										| Вы счастливый абонент Башинформсвязь.
				div(class="rate py-5")
					div(class="container py-5")
						div(class="nav nav-tabs" id="nav-tab" role="tablist")
							a(class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true")
								| Для квартиры
							a(class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false")
								| Для дома
						div(class="tab-content py-5" id="nav-tabContent")
							div(class="tab-pane fade show active py-5" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab")
								div(class="row align-items-center")
									div(class="col-12 col-lg-4 pb-4 pb-lg-0 p-lg-0")
										div(class="rate__item text-center")
											div(class="rate__header")
												span(class="rate__price")
													| 560 Р.
												span
													| / Месяц
											div(class="py-4")
												i(class=" d-block flaticon-start")
												span(class="rate__header_second my-4")
													| Для Впечатлений Везде
												ul
													li
														| 50 Мбит/Сек(FTTx)
													li
														| IP-TV Оптимальный -203 Канала (41HD) На 2 Мес.
													li
														| Wi-Fi В Рассрочку До 36 Мес.
												button(class="btn btn_rate")
													| подключить
									div(class="col-12 col-lg-4 pb-4 pb-lg-0 p-lg-0 rate__item__center")
										div(class="rate__item text-center")
											div(class="rate__header")
												span(class="rate__price")
													| 300 Р.
												span
													| / Месяц
											div(class="rate__item__wrap")
												i(class=" d-block flaticon-quality-badge")
												span(class="rate__header_second my-4")
													| Метеор
												ul
													li
														| 100 Мбит/Сек(FTTx)
													li
														| IP-TV Стартовый -172 Канала (41HD)
													li
														| Wi-Fi Роутер 10 Руб./Мес (Аренда)
												button(class="btn btn_rate")
													| подключить
									div(class="col-12 col-lg-4 pb-4 pb-lg-0 p-lg-0")
										div(class="rate__item text-center")
											div(class="rate__header")
												span(class="rate__price")
													| 560 Р.
												span
													| / Месяц
											div(class="py-4")
												i(class=" d-block flaticon-value")
												span(class="rate__header_second my-4")
													| Для Впечатлений Везде
												ul
													li
														| 50 Мбит/Сек(FTTx)
													li
														| IP-TV Стартовый - 172 Канала (41HD)
													li
														| Wi-Fi В Рассрочку До 36 Мес.
												button(class="btn btn_rate")
													| подключить
							div(class="tab-pane fade py-5" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab")
								div(class="row align-items-center")
									div(class="col-12 col-lg-4 pb-4 pb-lg-0 p-lg-0")
										div(class="rate__item text-center")
											div(class="rate__header")
												span(class="rate__price")
													| 660 Р.
												span
													| / Месяц
											div(class="py-4")
												i(class=" d-block flaticon-start")
												span(class="rate__header_second my-4")
													| Для Впечатлений Везде
												ul
													li
														| 6 Мбит/Сек (XDSL)
													li
														| IP-TV Стартовый - 172 Канала (41HD)
													li
														| Wi-Fi В Рассрочку До 36 Мес.
												button(class="btn btn_rate")
													| подключить
									div(class="col-12 col-lg-4 pb-4 pb-lg-0 p-lg-0 rate__item__center")
										div(class="rate__item text-center")
											div(class="rate__header")
												span(class="rate__price")
													| 800 Р.
												span
													| / Месяц
											div(class="rate__item__wrap")
												i(class=" d-block flaticon-quality-badge")
												span(class="rate__header_second my-4")
													| Для Дома
												ul
													li
														| 150 Мбит/Сек (XPON)
													li
														| IP-TV Стартовый - 172 Канала (41HD)
													li
														| Wi-Fi Роутер 10 Руб./Мес (Аренда)
												button(class="btn btn_rate")
													| подключить
									div(class="col-12 col-lg-4 pb-4 pb-lg-0 p-lg-0")
										div(class="rate__item text-center")
											div(class="rate__header")
												span(class="rate__price")
													| 1090 Р.
												span
													| / Месяц
											div(class="py-4")
												i(class=" d-block flaticon-value")
												span(class="rate__header_second my-4")
													| Пакет Игровой
												ul
													li
														| 300 Мбит/Сек (XPON)
													li
														| IP-TV Стартовый -172 Канала (41HD)
													li
														| Wi-Fi В Рассрочку До 36 Мес.
												button(class="btn btn_rate")
													| подключить
				div(class="request py-5")
					div(class="container")
						div(class="row align-items-center justify-content-center")
							div(class="col-12")
								h2(class="text-center")
									| ЗАЯВКА
								p(class="text-center")
									| Оставьте заявку на подключение
								div(class="line")
									span(class="line__first")
									span(class="line__second")
								p(class="request__description text-center py-4")
									| Наш специалист свяжется и договорится для подключения в удобное для вас время
							div(class="col-10")
								div(class="request__content py-4 px-5")

				
				div(class="city_check py-5")
					div(class="container")
						div(class="row")
							div(class="col-12")
								span(class="city_check__header")
									| Ростелеком в России
							div(class="col-12 py-4")
								form
									input(type="text")
						div(class="city_check_wrap")
							div(class="row pt-5 city_check_hid")
								div(class="col-6 col-lg-2 d-flex flex-column align-items-start")
									span(class="city_check__item py-3  mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 ")
										| Город
								div(class="col-6 col-lg-2 d-flex flex-column align-items-start")
									span(class="city_check__item py-3  mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 ")
										| Город
								div(class="col-6 col-lg-2 d-flex flex-column align-items-start")
									span(class="city_check__item py-3  mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 ")
										| Город
								div(class="col-6 col-lg-2 d-flex flex-column align-items-start")
									span(class="city_check__item py-3  mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 ")
										| Город
				footer(class="footer")
					div(class="container")
						div(class="row")
							div(class="col-12")
								img(class="lazyload" data-src="img/logo.svg" alt="img")
						div(class="row")
							div(class="col-12 pb-5 pb-lg-0 col-lg-3")
								
								p
									| Подключение интернета ростелеком
							div(class="col-12 pb-5 pb-lg-0 col-lg-3 d-flex flex-column")
								a(href="#" class="footer__nav")
									| Главная
								a(href="#" class="footer__nav")
									| Интернет
								a(href="#" class="footer__nav")
									| Интернет+ТВ
								a(href="#" class="footer__nav")
									| Телевидение
								a(href="#" class="footer__nav")
									| Телефония
								a(href="#" class="footer__nav")
									| Контакты
							div(class="col-12 pb-5 pb-lg-0 col-lg-3 d-flex flex-column")
								a(href="#" class="footer__nav")
									| Интернет
								a(href="#" class="footer__nav")
									| Телевидение
								a(href="#" class="footer__nav")
									| Телефония
								a(href="#" class="footer__nav")
									| Интернет+ТВ
							div(class="col-12 pb-5 pb-lg-0 col-lg-3")
								span(class="footer__header pb-3")
									| Адрес
								span
									|  450000, Россия, Республика Башкортостан, г. Уфа, ул. Ленина, 30
								span(class="footer__header py-3")
									| С 9:00 ДО 21:00
								span(class="footer__header pb-3")
									| Телефон
								a(class="footer_link" href="tel:+73472001222")
									| +7 347 200-12-22
								div(class="social py-3")
									a
										i(class="fab fa-facebook-f")
									a
										i(class="fab fa-vk")
					div(class="footer__description py-4")
						div(class="container")
							div(class="row")
								div(class="col-12 col-lg-6")
									p(class="m-0 p-0")
										| © 2019 Cайт не является публичной офертой и средством массовой информации, действует на основании партнерских услуг с ПАО Башинформсвязь. 2019
					div(class="footer__footer")
			script(src="js/main.min.js")
