doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic" rel="stylesheet")
		link(rel="stylesheet" href="css/main.min.css")
		title New project
	body
		div(class="page")
			header(class="py-3")
				div(class="container")
					div(class="row")
						div(class="col-12")
							nav(class="navbar navbar-expand-lg navbar-light d-flex justify-content-between p-0 ")
								button(class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="toggle navigation")
									img(class="lazyload" data-src="img/mobilemenu.svg" alt="logo")
								div(class="d-flex align-items-end navbar_wrap_logo")
									a(class="navbar-brand d-flex " href="#")
										img(class="lazyload" data-src="img/logo.svg" alt="logo")
										div(class="navbar_wrap_logo_description ml-3 pl-4 d-none d-lg-flex justify-content-center align-items-center")
											| Официальный<br>партнер
								div(class="collapse navbar-collapse " id="navbar")
									ul(class="navbar-nav d-flex justify-content-center w-100 pt-4 pt-lg-0")
										li(class="d-flex justify-content-center active nav-item mr-3")
											a(class="nav-link" href="#")
												| Интернет
										li(class="d-flex justify-content-center nav-item mr-3")
											a(class="nav-link" href="#")
												| Телевидение
										li(class="d-flex justify-content-center nav-item mr-3")
											a(class="nav-link" href="#")
												| Пакеты
										li(class="d-flex justify-content-center nav-item")
											a(class="nav-link" href="#")
												| Телефон
								button(class="btn btn_city mx-0 mx-lg-5")
									| Челябинск
								div(class="d-none d-lg-flex align-items-end flex-column")
									a(class="number_link" href="tel:+73472001222")
										| +7 347 200-12-22
									button(class="btn btn_header mt-3")
										| Оставить заявку
								

			div(class="content content__deep")
				div(class="container")
					div(class="row")
						div(class="col-12")
							nav(aria-label="breadcrumb ")
								ol(class="breadcrumb px-0")
									li(class="breadcrumb-item")
										| Главная
									li(class="breadcrumb-item")
										| Интернет
					div(class="row")
						div(class="col-12")
							h1(class="header__h2")
								| Интернет
					div(class="row pb-5")
						div(class="col-12")
							h2(class="text-center")
								| АКЦИОННЫЕ ТАРИФЫ
					div(class="row pb-3")
						div(class="col-12 col-lg-8 col-xl-9")
							div(class="rate_small__item p-5 h-100")
								div(class="d-flex align-items-center")
									h2
										| ДЛЯ СПОКОЙСТВИЯ АКЦИЯ
									div(class="rate_small__item_aks ml-3")
										| Акция!
								p(class="pt-3")
									| 700 Мбит / сек + услуга Видеонаблюдение + Видеокамера (рассрочка на 24 месяца включена в стоимость тарифа)
								div(class="d-flex d-lg-none align-items-center")
									button(class="btn btn_rate mr-4")
										| Подключить
									span(class="rate_small__price pb-3")
										| 600 ₽/мес
									
						div(class="col-6 col-lg-4 col-xl-3 text-center d-none d-lg-block")
							div(class="rate_small__item p-5 h-100")
								span(class="rate_small__price pb-3")
									| 600 ₽/мес
								button(class="btn btn_rate")
									| Подключить
					div(class="row pb-3")
						div(class="col-12 col-lg-8 col-xl-9")
							div(class="rate_small__item p-5 h-100")
								div(class="d-flex align-items-center")
									h2
										| ДЛЯ СПОКОЙСТВИЯ АКЦИЯ
									div(class="rate_small__item_aks ml-3")
										| Акция!
								p(class="pt-3")
									| 700 Мбит / сек + услуга Видеонаблюдение + Видеокамера (рассрочка на 24 месяца включена в стоимость тарифа)
								div(class="d-flex d-lg-none align-items-center")
									button(class="btn btn_rate mr-4")
										| Подключить
									span(class="rate_small__price pb-3")
										| 600 ₽/мес
									
						div(class="col-6 col-lg-4 col-xl-3 text-center d-none d-lg-block")
							div(class="rate_small__item p-5 h-100")
								span(class="rate_small__price pb-3")
									| 600 ₽/мес
								button(class="btn btn_rate")
									| Подключить
					div(class="row")
						div(class="col-12")
							p(class="content__deep_description")
								| Домашний интернет Ростелеком в Челябинске возможно подключить в вашу квартиру быстро и бесплатно. Выбирайте самый выгодный тариф Ростелеком, оставляйте заявку на сайте или звоните по номеру отдела подключений: 8 (800) 333-62-79. После этого вы будете проконсультированы опытными специалистами компании Ростелеком об условиях, доступных акциях и бонусах, а так же узнаете возможность самого подключения к услугам. Провести интернет Ростелеком по выделенной линии будет не долгим и удобным — мастера подключают в любое время с понедельника по воскресение с 9 до 21 часа.
					div(class="row")
						div(class="col-12")
							ul
								li
									| 1213123
								li
									| 1234123423
							ol
								li
									| fdshgdfh
								li
									| dfsfhdgh






				div(class="modal fade" id="ModalSliderItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true")
					div(class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document")
						div(class="modal-content")
							button(type="button" class="close" data-dismiss="modal" aria-label="Close")
								span(aria-hidden="true")
									| &times;
							div(class="modal-body")
								a(class="slider__item p-3"  data-toggle="modal" data-target="#ModalSliderItem")
									div(class="slider__preview")
										img(src="img/anthony-tran-1133321-unsplash.png" class="w-100" alt="png")
									div(class="slider__content d-flex align-items-start pt-3")
										img(class="lazyload" data-src="img/ap.svg" alt="img")
										p(class="pl-3")
											| «Повседневная практика показывает, что укрепление и развитие структуры играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.»
				div(class="city_check py-5")
					div(class="container")
						div(class="row")
							div(class="col-12")
								span(class="city_check__header")
									| Ростелеком в России
							div(class="col-12 py-4")
								form
									input(type="text")
						div(class="city_check_wrap")
							div(class="row pt-5 city_check_hid")
								div(class="col-6 col-lg-2 d-flex flex-column align-items-start")
									span(class="city_check__item py-3  mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 ")
										| Город
								div(class="col-6 col-lg-2 d-flex flex-column align-items-start")
									span(class="city_check__item py-3  mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 ")
										| Город
								div(class="col-6 col-lg-2 d-flex flex-column align-items-start")
									span(class="city_check__item py-3  mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 ")
										| Город
								div(class="col-6 col-lg-2 d-flex flex-column align-items-start")
									span(class="city_check__item py-3  mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 mb-4")
										| Город
									span(class="city_check__item py-3 ")
										| Город
			footer(class="footer")
				div(class="container")
					div(class="row")
						div(class="col-12")
							img(class="lazyload" data-src="img/logo.svg" alt="img")
					div(class="row")
						div(class="col-12 pb-5 pb-lg-0 col-lg-3")
							
							p
								| Подключение интернета ростелеком
						div(class="col-12 pb-5 pb-lg-0 col-lg-3 d-flex flex-column")
							a(href="#" class="footer__nav")
								| Главная
							a(href="#" class="footer__nav")
								| Интернет
							a(href="#" class="footer__nav")
								| Интернет+ТВ
							a(href="#" class="footer__nav")
								| Телевидение
							a(href="#" class="footer__nav")
								| Телефония
							a(href="#" class="footer__nav")
								| Контакты
						div(class="col-12 pb-5 pb-lg-0 col-lg-3 d-flex flex-column")
							a(href="#" class="footer__nav")
								| Интернет
							a(href="#" class="footer__nav")
								| Телевидение
							a(href="#" class="footer__nav")
								| Телефония
							a(href="#" class="footer__nav")
								| Интернет+ТВ
						div(class="col-12 pb-5 pb-lg-0 col-lg-3")
							span(class="footer__header pb-3")
								| Адрес
							span
								|  450000, Россия, Республика Башкортостан, г. Уфа, ул. Ленина, 30
							span(class="footer__header py-3")
								| С 9:00 ДО 21:00
							span(class="footer__header pb-3")
								| Телефон
							a(class="footer_link" href="tel:+73472001222")
								| +7 347 200-12-22
							div(class="social py-3")
								a
									i(class="fab fa-facebook-f")
								a
									i(class="fab fa-vk")
				div(class="footer__description py-5")
					div(class="container")
						div(class="row")
							div(class="col-12 col-lg-6")
								p
									| © 2019 Cайт не является публичной офертой и средством массовой информации, действует на основании партнерских услуг с ПАО Башинформсвязь. 2019
				div(class="footer__footer py-5")
			script(src="js/main.min.js")