/* INCLUD SASS */
@import "reset/_reset.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "default/_default.scss";

@import "all/_flaticon-set.css";

@import "header/_header.scss";
@import "button/_button.scss";
@import "form/_form.scss";
@import "modalWindow/_modal.scss";
@import "footer/_footer.scss";


.welcome {
	
	position: relative;
	z-index: 10;
	.welcome__content {
		position: absolute;
		top: 0px; left: 0; right: 0; bottom: 0;
	}
	.welcome__bg {
		background: url("../img/2.jpg") no-repeat;
			background-position: center center;
			height: 1080px;
			@media (max-width: 981.98px) {
				height: 100vh;
				background-position: 60% center;
				background-size: cover;
			}		
		div {
			width: 100%;
			height: 100%;
			background: rgba(120, 0, 255, 0.7);
		}
	}
	p {
		font-size: 1.8rem;
		line-height: 30px;
		color: #fff;
	}
	.carousel-indicators {
		li {
			    background: transparent none repeat scroll 0 0;
			    border: 3px solid $mainColor;
			    height: 15px;
			    width: 15px;
			    border-radius: 100%;
			    &.active {
		    	    background: $mainColor none repeat scroll 0 0;
			    }
		}
	}
}
.waves {
	position: absolute;
	bottom: 0;
}
.services {
	background-color: #fff;
	overflow: hidden;
    position: relative;
    z-index: 1;
	p {
		font-weight: 500;
		line-height: 1.4;
		padding-bottom: 15px;
		position: relative;
		letter-spacing: 1px;
		font-size: 3rem;
	}
	.parallax-item {
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    z-index: -1;
	    .parallax-rectangle-shadow {
		    display: block;
		    margin: 40% 0 0 90%;
		    text-align: center;
		    border: solid 20px #ff5f49;
		    height: 300px;
		    width: 300px;
		    -ms-transform: rotate(-30deg);
		    -webkit-transform: rotate(-30deg);
		    transform: rotate(-30deg);
		    z-index: -1;
		    opacity: 0.5;
		}
		.parallax-circle-shadow {
		    display: block;
		    margin: 33% 0 0 70%;
		    -webkit-border-radius: 50%;
		    -moz-border-radius: 50%;
		    border-radius: 50%;
		    border: solid 4px rgba(0, 0, 0, 0.1);
		    height: 30px;
		    width: 30px;
		}
		.parallax-shape-circle {
		    display: block;
		    margin: 15% 0 0 85%;
		    -webkit-border-radius: 50%;
		    -moz-border-radius: 50%;
		    border-radius: 50%;
		    border: solid 9px #623bcc;
		    opacity: 0.5;
		    height: 120px;
		    width: 120px;
		}
	}
}
.services__item {
	background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	i {
	    color: #623bcc;
	    display: inline-block;
	    font-size: 6rem;
	    margin-bottom: 30px;
	}
	.services__item_number {
		position: relative;
		span {
			font-family: "Poppins",sans-serif;
			font-size: 100px;
			font-weight: 900;
			left: 0;
			line-height: 70px;
			opacity: 0.06;
			position: absolute;
			top: 0;
			z-index: 1;
		}
	}
	a {
		color: #623bcc;
		font-weight: 600;
		font-size: 1.4rem;
		letter-spacing: 1px;
		position: relative;
		text-decoration: underline;
		text-transform: uppercase;
		z-index: 1;
		&:hover {
			text-decoration: none;
		}
	}
	.services__item_header {
	    font-weight: 600;
	    letter-spacing: 1px;
	    text-transform: capitalize;
        color: #232323;
    	line-height: 1.2;
    	font-size: 1.8rem;   
    	margin: 0;
	}
	.services__item_description {
		color: #666666;
		line-height: 26px;
		font-size: 1.4rem;
		text-transform: none;
		font-weight: 400;
	}
	@media (max-width: 981.98px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.howConnect {
	background-color: #f7f7f7;
	padding: 50px 0px 80px 0;
	.howConnect__header {
		font-weight: 500;
		line-height: 1.4;
		padding-bottom: 15px;
		position: relative;
		letter-spacing: 1px;
		font-size: 3rem;
	}
	.howConnect__description {
	    color: #666666;
	    line-height: 26px;
	    text-transform: none;
	    font-weight: 400;
	    font-size: 1.4rem;
	}
}
.rate {
	background-color: #fff;
	.nav-tabs {
		border-bottom: unset;

	}
	.nav-tabs .nav-link  {
	    margin-right: 2px;
	    line-height: 1.42857143;
	    border: 1px solid transparent;
	    border-radius: 4px 4px 0 0;
	    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    	border-bottom: 1px solid #ddd;
    	padding: 15px 20px;
	}
	.nav-tabs .nav-link.active {
        background-color: #623bcc;
	    color: #fff;
	    cursor: default;
	    border: 1px solid #ddd;
	    border-bottom-color: transparent;
	}
	.nav-tabs .nav-link:hover {
	}
	.nav-tabs .nav-link {
		border-radius: none;
	}

	.rate__item {
		box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		position:relative;
		z-index: 1;
		overflow: hidden;
	}
	.rate__header {
		background: #1d2024 ;
		color: #ffffff;		
		text-align: center;
		line-height: 1;
		margin-bottom: 0;
		padding: 30px 0;
		font-size: 18px;
    	font-weight: 400;
		.rate__price {
			font-size: 5rem;
			font-weight: 600;
		}
	}
	i {
		display: inline-block;
    	font-size: 6rem;
	}
	.rate__header_second {
	    color: #232323;
		border-bottom: 1px solid;
		display: inline-block;
		font-weight: 600;
	    line-height: 1.2;
	    font-size: 1.8rem;
	}
	ul {
		li {
			font-family: 'Open Sans', sans-serif;
			font-size: 1.4rem;
			font-weight: 400;
			line-height: 26px;
			overflow-x: hidden;
			background-color: #ffffff;
			color: #666666;
			padding: 1.5rem 0;
		}
	}
	.rate__item__center {
		margin-right: -20px;
		margin-left: -20px;
		z-index: 100;
		
		.rate__header {
			background: $mainColor;
		}
		.btn_rate {
			border: 2px solid $mainColor;
			background: $mainColor;
			color: #fff;
		}
		i {
			color: $mainColor;
		}
		.rate__item {
			border: 1px solid $mainColor;
		}
		.rate__item__wrap {
			padding: 3rem 0;
			background-color: #fff;
		}
	}
	@media (max-width: 981.98px) {
		.rate__item__center {
			margin: 0px;
			padding: 0 15px;
		}
		.rate__item {
		}
	}
}
.request {
	background-color: $mainColor;
	h2 {
		color: #fff;
	}
	p {
		color: #fff;
		font-weight: 500;
		line-height: 1.4;
		padding-bottom: 15px;
		position: relative;
		letter-spacing: 1px;
		font-size: 3rem;
	}
	.line {
		span {
			background-color: #fff!important;
		}
	}
	.request__description {
	    color: #fff;
	    line-height: 26px;
	    text-transform: none;
	    font-weight: 400;
	    font-size: 1.4rem;
	}
	.request__content {
		background-color: #fff;
	}
}


.content__deep {
	background-color: #F7F7F7;
	padding: 140px 0;
}
.breadcrumb {
	background: none;
}
.breadcrumb-item {
	font-size: 1.6rem;
	line-height: 19px;
	color: #505050;
}
.rate_small__item {
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	p {
		font-size: 1.8rem;
		line-height: 21px;
		color: #505050;
	}
	.rate_small__price {
		font-weight: 500;
		font-size: 3.6rem;
		line-height: 42px;
		color: $mainColor;

	}
}
.rate_small__item_aks {
	background-color: #ff4f12;
	color: #fff;
	padding: 1.4rem;
	font-size: 1.8rem;
	border-radius: 100px;
}
.content__deep_description {
	font-size: 1.8rem;
	padding: 1.2rem 0;
}