header {
	position: fixed;
	top: 0px; right: 0px; left: 0px;
	background-color: #fff;
	z-index: 9988;
	.navbar_wrap_logo {
		.navbar_wrap_logo_description {
			font-size: 1.6rem;
			line-height: 19px;
			text-transform: uppercase;
			border-left: 1px solid #989898;
			color: #98989B;
		}
	}
	.nav-link {
		font-size: 1.8rem;
		line-height: 21px;
		color: #1D2024;
	}
	.number_link {
		font-weight: 500;
		font-size: 2rem;
		line-height: 23px;
		color: #505050;
	}
	@media (max-width: 981.98px) {
		.navbar-collapse {
			order: 10;
			
			li {
				display: flex;
				justify-content: flex-start!important;
			    border-bottom: solid 1px #e0e0e0;
			    &:last-child {
			    	border: none;
			    }
			}
		}
	}
	.navbar-toggler {
		border: none;
		outline: unset;
		&:focus {
			outline: unset;
		}
	}
	
}